@tailwind base;
@tailwind components;
@tailwind utilities;






@layer base {
    :root {
      --background: #FFFFFF;
      --foreground: #222222;
   
      --muted: #F7F7F7;
      --muted-foreground: #777777;
   
      --popover: #FFFFFF;
      --popover-foreground: #222222;
   
      --card: #FFFFFF;
      --card-foreground: #222222;
   
      --border: #F2F2F2;
      --input: #F2F2F2;
   
      --primary: #e9e60e;
      --primary-foreground: #FFFFFF;
   
      --secondary: #05078E;
      --secondary-foreground: #FFFFFF;
   
      --accent: #F7F7F7;
      --accent-foreground: #222222;
   
      --destructive: #F44336;
      --destructive-foreground: #FFFFFF;
   
      --ring: #222222;
   
      --radius: 0.5rem;
    }
   
    .dark {
      --background: #222222;
      --foreground: #FFFFFF;
   
      --muted: #333333;
      --muted-foreground: #AAAAAA;
   
      --popover: #222222;
      --popover-foreground: #FFFFFF;
   
      --card: #222222;
      --card-foreground: #FFFFFF;
   
      --border: #333333;
      --input: #333333;
   
      
      --primary: #69C37B;
      --primary-foreground: #FFFFFF;
   
      --secondary: #05078E;
      --secondary-foreground: #000000;
   
      --accent: #333333;
      --accent-foreground: #FFFFFF;
   
      --destructive: #F44336;
      --destructive-foreground: #FFFFFF;
   
      --ring: #AAAAAA;
    }
  }
   
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  

  